<import: src="./todos">

<Head:>
  <link rel="stylesheet" href="bower_components/todomvc-common/base.css">

<Header:>
  <body>
    <ui:connectionAlert>
    <section id="todoapp">
      <header id="header">
        <h1>todos</h1>
        <form x-bind="submit: todo.add">
          <input id="new-todo" value={_page.newItem.text} placeholder="What needs to be done?" autofocus>
        </form>
      </header>

<Footer:>
    </section>
  <footer id="info">
    <p>Double-click to edit a todo</p>
  </footer>
