<Body:>
  <!-- This section should be hidden by default and shown when there are todos -->
  {#if _page[itemsKey].length}
  <section id="main">
    <input id="toggle-all" type="checkbox" checked="{_page.isAllCompleted}" x-bind="click: todos.toggleAllComplete">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="todo-list">
      <!-- These are here just to show the structure of the list items -->
      <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
      {#each _page[itemsKey] as :item}
        <li class="{#if :item.isCompleted}completed{/} {#if equal(_page.editingId, :item.id)}editing{/}">
          <div class="view">
            <input class="toggle" type="checkbox" checked="{:item.isCompleted}">
            <label x-bind="dblclick: edit.start">{:item.text}</label>
            <button class="destroy" x-bind="click: todo.destroy"></button>
          </div>
          <input class="edit" value="{{:item.text}}" x-bind="keydown: edit.process, blur: edit.update">
        </li>
      {/}
    </ul>
  </section>
  {/}
  <!-- This footer should hidden by default and shown when there are todos -->
  {#if _page.todos.length}
    <footer id="footer">
      <!-- This should be `0 items left` by default -->
      <span id="todo-count">
        <strong>{_page.remaining.length}</strong> {#if equal(_page.remaining.length, 1)}item{else}items{/} left
      </span>
      <!-- Remove this if you don't implement routing -->
      <ul id="filters">
        <app:navLink title="All" href="/">
        <app:navLink title="Active" href="/active">
        <app:navLink title="Completed" href="/completed">
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      {#if _page.completed.length}
        <button id="clear-completed" x-bind="click: completed.clear">
          Clear completed ({_page.completed.length})
        </button>
      {/}
    </footer>
  {/}

<navLink:>
  <li>
    <a class="{{#if equal($url, @href)}}selected{{/}}" href="{{@href}}">{{@title}}</a>
  </li>
